/**********************************/
/* 0. Variáveis
/* 1. Estilos Gerais
/* 2. Calculadora
/* 3. Tabela
/* 4. Cores Tabela
/**********************************/

/* 1. Estilos Gerais */
* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 3rem;
}

hr {
    border: 0;
    border-top: 4px solid #000
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

tr th:nth-child(1){
    color: #000;
    float: left;
    padding: 5px 25px;
}

tr th:nth-child(2) {
    color: #000;
    float: right;
    padding: 0 6rem;
}

th {
    font-size: 1.5rem;
}

tr {
    padding: 50px;
}

td:nth-child(1) {
    float: left;
    padding: 0 15px;
    font-size: 1.5rem;
}

td:nth-child(2) {
    float: right;
    padding: 0 3rem;
    font-size: 1.5rem;
}

/* 2. Calculadora */

.calculadora-wrapper {
    display: flex;
    justify-content: center;
}

.calculadora {
    background-color: #ffbe0b;
    height: 65%;
    border-radius: 25px;
    opacity: 0.9;
    padding: 25px;
    box-shadow: 0 0 .4em #000;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.btn {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 40%;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    box-shadow: 0 0 .4em #000;
}

#resultado {
    margin-top: 2rem;
    background-color: #4a4e69;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    color: white;
    font-size: 1.5rem;
    border-radius: 25px;
}

.campo {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo-input {
    border-style: none;
    height: 2rem;
    font-size: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 .2em #000;

}

.campo-label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: lighter;
    padding-bottom: 5px;
    
}

/* 3. Cores tabela */

.classificacao {
    margin-left: 2rem;
}

.tabela-classificacao {
    width: 100%;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
}


#resultado-abaixo-peso {
    background-color: #fbfbf2;
}

#resultado-peso {
    background-color: #E5E6E4
}

#resultado-sobrepeso {
    background-color: #CFD2CD;
}

#resultado-obesidade-um {
    background-color: #A6A2A2;
    color: #fff;
}

#resultado-obesidade-dois {
    background-color: #847577;
    color: #fff;
}

#resultado-obesidade-tres {
    background-color: #403d39;
    color: #fff;
}

/* 4. Cores tabela */

.azul {
    background-color: #4361ee!important;
    transition: 1s;
    opacity: 0.7;
    color: white;
}

.laranja {
    background-color: #e76f51!important;
    transition: 1s;
    opacity: 0.7;
}

.vermelho {
    background-color: #e63946!important;
    transition: 1s;
    opacity: 0.7;
}






